<!DOCTYPE html>
{%load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>farmShare</title>
    <link rel="stylesheet" href="">
    <link rel="stylesheet" href="">
    <link rel="stylesheet" href="{% static 'css/master.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Gugi" rel="stylesheet">


</head>
<body>
   

    <nav>
        <div class="container">
            <!-- <a href="{%url 'home' %}">farmShare</a> -->
            <ul>
                {% if user.is_authenticated %}

                <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
                    <div class="container">
                      <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                        <span class="navbar-toggler-icon"></span>
                      </button>
                      <a href="/" class="navbar-brand" style="color : #7caf4f;"> <img src="{%static "farmshare/img/logo.svg" %}" alt="" id="logo"> farmShare</a>
                      <div class="collapse navbar-collapse" id="navbarCollapse">
                        <ul class="navbar-nav ml-auto"> <!-- Margin Left Auto -->
                          <li class="nav-item">
                            <a href="{% url 'posts:create' %}" class="nav-link">Ask a Question</a>
                          </li>
                          <li class="nav-item">
                            <a href="#" class="nav-link">Browse Questions</a>
                          </li>
                          <li class="nav-item">
                            <a href="#" class="nav-link">Crop Data</a>
                          </li>
                          <li class="nav-item">
                            <a href="{% url 'communities:all' %}" class="nav-link">Communities</a>
                          </li>
                          <li class="nav-item">
                            <a href="{%url 'farmers:logout' %}" class="nav-link">Logout</a>
                          </li>
                        </ul>
                      </div>
                    </div>
                </nav>

                {%else%}

                <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
                    <div class="container">
                      <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                        <span class="navbar-toggler-icon"></span>
                      </button>
                      <a href="#" class="navbar-brand" style="color : #7caf4f;"> <img src="{%static "img/logo.svg" %}" alt="" id="logo"> farmShare</a>
                      <div class="collapse navbar-collapse" id="navbarCollapse">
                        <ul class="navbar-nav ml-auto"> <!-- Margin Left Auto -->
                        <li class="nav-item">
                            <a href="#" class="nav-link">Browse Questions</a>
                        </li>
                          <li class="nav-item">
                            <a href="{% url 'farmers:login' %}" class="nav-link">Login</a>
                          </li>
                          <li class="nav-item">
                            <a href="{%url 'farmers:signup' %}" class="nav-link">Sign Up</a>
                          </li>
                          
                        </ul>
                      </div>
                    </div>
                </nav>

                {%endif%}
            </ul>
        </div>
    </nav>

  
      {% block content %}

      {% endblock %}
    



    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>